@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-scroll {
  animation: scroll 15s ease-in-out infinite;
}
body {
  background-color: #0A0A0A;
  color: white;
}